.navbar {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 64px;
  flex-shrink: 0;
  background: var(--light-blue-gray-50, #f8fafc);
  padding: 12px 24px 12px 24px;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 9999;
}

.navbar-logo-title-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 50%;
  flex-grow: 1;
}

.nav-image {
  width: 40px;
  flex-shrink: 0;
  margin-right: 12px;
}

.nav-title {
  color: #f7931e;
  font-family: DM Sans;
  font-size: 16px;
  font-style: italic;
  font-weight: 700;
  line-height: 24px; /* 150% */
}

.navbar-desktop-menu-container {
  display: none;
}

.navbar-mobile-menu-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-button {
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  background-color: transparent;
  border: 0px;
  outline: none;
  cursor: pointer;
}

.menu-icon {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}

.popup-content {
  position: absolute !important;
  top: 64px;
  right: 0;
  background: rgb(255, 255, 255);
  width: 100%;
  padding: 5px;
}

.navbar-mobile-menu-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 0px;
}

.menu-link-item {
  text-decoration: none;
  cursor: pointer;
}

.list-item {
  color: #334155;

  /* Headline/05 */
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px; /* 162.5% */
  letter-spacing: -0.356px;
  list-style: none;
}

.home-active {
  color: #f7931e;
}

.cart-active {
  color: #f7931e;
}

.logout-desktop-btn {
  display: flex;
  padding: 8px 16px;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  background: #f7931e;
  color: var(--light-base-white, #fff);
  border: 0px;
  outline: none;
  cursor: pointer;
  /* Action / Button / Small */
  font-family: DM Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 133.333% */
}

.trigger-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: 0px;
  outline: none;
  cursor: pointer;
}

.close-icon {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}

@media screen and (min-width: 768px) {
  .navbar {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 96px;
    background: var(--light-blue-gray-50, #f8fafc);
    padding: 18px 38px 18px 38px;
  }
  .nav-image {
    width: 55px;
    flex-shrink: 0;
  }

  .nav-title {
    color: #f7931e;
    font-family: DM Sans;
    font-size: 24px;
    font-style: italic;
    font-weight: 700;
    line-height: 32px; /* 133.333% */
  }

  .navbar-mobile-menu-container {
    display: none;
  }

  .popup-content {
    display: none;
  }

  .navbar-desktop-menu-container {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0px;
  }

  .link-item {
    text-decoration: none;
    cursor: pointer;
  }

  .list-item {
    color: #334155;

    /* Headline/05 */
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px; /* 162.5% */
    letter-spacing: -0.356px;
    list-style: none;
  }

  .home-active {
    color: #f7931e;
  }

  .cart-active {
    color: #f7931e;
  }

  .logout-desktop-btn {
    display: flex;
    padding: 8px 16px;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    background: #f7931e;
    color: var(--light-base-white, #fff);
    border: 0px;
    outline: none;
    cursor: pointer;
    /* Action / Button / Small */
    font-family: DM Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px; /* 133.333% */
  }
}
