.cart-item {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 16px;
}

.cart-item-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.cart-product-image {
  width: 130px;
  height: 120px;
  flex-shrink: 0;
  border-radius: 8px;
  margin-right: 10px;
}

.cart-details-content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-grow: 1;
}

.cart-product-title {
  color: #183b56;
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.2px;
  margin: 0px;
}

.quantity-controller-button {
  height: 24px;
  width: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-quantity {
  color: var(--light-blue-gray-600, #475569);
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
}

.price-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cart-total-price {
  color: #ffa412;
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 150% */
  margin: 0px;
}

.remove-button {
  background-color: transparent;
  border: 0px;
  color: #ffa412;
  font-family: DM Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 150% */
}

.delete-button {
  display: none;
}

@media screen and (min-width: 768px) {
  .cart-details-content-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
  }
  .cart-product-title {
    color: var(--light-blue-gray-700, #334155);
    font-family: DM Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 133.333% */
    letter-spacing: 0.2px;
    width: 30%;
  }

  .cart-quantity-container {
    width: 30%;
  }
  .remove-button {
    display: none;
  }

  .delete-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: 0px;
    color: #ffa412;
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 150% */
  }
  .price-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 30%;
  }
}
